<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>github_iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04698BEE1CFD203D001A76BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04698C0A1CFD203E001A76BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04698C151CFD203E001A76BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
